workflows_n8n/n8n_resolver_completo.json
{
  "name": "Resolver Ticket COMPLETO - RAG + Drive + Gmail",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e1111111-1111-1111-1111-111111111111",
      "name": "Chat (entra el ticket)",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-360, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres un asistente de resolucion de tickets de soporte de datos. Cuando recibas un ticket nuevo:\n1. Usa la herramienta buscar_tickets para encontrar casos parecidos resueltos.\n2. Si hay casos claramente relevantes, redacta una propuesta de resolucion apoyandote en ellos (indica el/los ticket de origen) y marca 'CONFIANZA: ALTA'.\n3. Si no encuentras nada claro, razona el problema con tu conocimiento y propon pasos de diagnostico, marcando 'CONFIANZA: BAJA'.\n\nDevuelve SIEMPRE el documento de resolucion completo y bien estructurado, en este orden:\n- Titulo del ticket\n- Solicitud (que pedia)\n- Diagnostico\n- Actuacion / pasos seguidos\n- Clasificacion: datos / permisos / configuracion / reasignar / escalar\n- Resolucion final\n- CONFIANZA: ALTA o BAJA\n\nResponde en espanol, claro y listo para guardarse como documento."
        }
      },
      "id": "e2222222-2222-2222-2222-222222222222",
      "name": "Agente Resolutor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-100, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "e3333333-3333-3333-3333-333333333333",
      "name": "Modelo OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [-220, 520]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "buscar_tickets",
        "toolDescription": "Busca en la base de tickets de soporte de datos casos resueltos parecidos al problema descrito.",
        "pineconeIndex": {
          "__rl": true,
          "value": "tickets-soporte",
          "mode": "list",
          "cachedResultName": "tickets-soporte"
        },
        "topK": 4,
        "options": {}
      },
      "id": "e4444444-4444-4444-4444-444444444444",
      "name": "Pinecone (Buscar)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [-20, 520]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [-20, 720]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "Resolucion_ticket.txt"
        }
      },
      "id": "e6666666-6666-6666-6666-666666666666",
      "name": "Texto a fichero",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "name": "=Resolucion_{{ $now.format('yyyyLLdd_HHmmss') }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "PEGA_AQUI_EL_ID_DE_LA_CARPETA",
          "mode": "id"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "id": "e7777777-7777-7777-7777-777777777777",
      "name": "Guardar en Drive (Doc)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "sendTo": "TU_CORREO@gmail.com",
        "subject": "=Resolucion de ticket guardada - {{ $now.format('dd/LL/yyyy HH:mm') }}",
        "message": "=Se ha generado y guardado en Drive una nueva resolucion de ticket.\n\nDocumento: {{ $json.name }}\nEnlace: {{ $json.webViewLink }}\n\n--- Resumen de la resolucion ---\n{{ $('Agente Resolutor').item.json.output }}",
        "options": {}
      },
      "id": "e8888888-8888-8888-8888-888888888888",
      "name": "Avisar por Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, 300]
    }
  ],
  "connections": {
    "Chat (entra el ticket)": {
      "main": [[{ "node": "Agente Resolutor", "type": "main", "index": 0 }]]
    },
    "Modelo OpenAI": {
      "ai_languageModel": [[{ "node": "Agente Resolutor", "type": "ai_languageModel", "index": 0 }]]
    },
    "Pinecone (Buscar)": {
      "ai_tool": [[{ "node": "Agente Resolutor", "type": "ai_tool", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Pinecone (Buscar)", "type": "ai_embedding", "index": 0 }]]
    },
    "Agente Resolutor": {
      "main": [[{ "node": "Texto a fichero", "type": "main", "index": 0 }]]
    },
    "Texto a fichero": {
      "main": [[{ "node": "Guardar en Drive (Doc)", "type": "main", "index": 0 }]]
    },
    "Guardar en Drive (Doc)": {
      "main": [[{ "node": "Avisar por Gmail", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
